@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lacquer&family=Poppins:wght@100;400;500;700&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #2f3542;
}
